.whysubscribe-content-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  flex: 1 1 auto;
}

.whysubscribe-content-container > ul,
.whysubscribe-content-container > img {
  width: 50%;
}

.whysubscribe-list-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.whysubscribe-list-desc {
  font-weight: 200;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .whysubscribe-content-container {
    flex-direction: column-reverse;
  }
  .whysubscribe-content-container > img {
    height: 200px;
    width: 100%;
  }
  .whysubscribe-content-container > ul {
    width: 100%;
  }
}
