.features-base {
}

.feature-title {
}

.features-options-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features-option {
  margin: 0 20px 20px;
  text-align: center;
}

.features-option > p {
  font-weight: 600;
}
