.whyus-base {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--primary-color-light);
  align-items: center;
}

.whyus-img {
  width: 50%;
  height: 508px;
}

.whyus-content-container {
  width: 50%;
  padding: 0 80px;
}
.whyus-title {
  margin: 0;
}

.whyus-list {
  list-style-type: disc;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .whyus-base {
    display: block;
    background-color: var(--primary-color-light);
  }
  .whyus-img {
    width: 100%;
    height: 200px;
  }
  .whyus-content-container {
    width: 100%;
    background-color: var(--primary-color-light);
    padding: 30px;
  }
}
