.thanking-base {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.thanking-title {
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 40px;
  background-color: var(--primary-color);
}

.thanking-description {
  color: #fff;
  padding: 0 80px 40px;
  background-color: var(--primary-color);
}

.thanking-img {
  width: 100%;
  height: 550px;
}

@media (max-width: 768px) {
  .thanking-description {
    padding-left: 30px;
    padding-right: 30px;
  }
}
