.home-base {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 15px 0 55px; */
}

.home-subscription-head {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}

.home-subscription-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
