.faqStrip-base {
  font-size: 28;
  width: 100%;
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  padding: 10px;
  font-weight: 600;
}

.faq-base {
  /* padding: var(--padding-cotainer); */
}

.faq-title {
  /* margin-bottom: 50px; */
}

.faq-list > li:not(:last-child) {
  margin-bottom: 20px;
}

.faq-ques {
  font-weight: 600;
  margin-bottom: 10px;
}
.faq-ques::before {
  content: "•";
  margin-right: 10px;
}

.faq-ans {
  font-weight: 200;
}
.faq-ans::before {
  content: ">";
  margin-right: 10px;
}

@media (max-width: 768px) {
  .faqStrip-base {
    font-size: 20px;
  }
}
