.subscriptionCardBase {
  width: 325px;
  min-height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--primary-color);
  margin: 5px;
  padding: 20px;
}
.subscriptionCardBase:hover {
  background-color: var(--primary-color);
}

.subscriptionCard-title {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.subscriptionCard-subTitle,
.subscriptionCard-description {
  margin-bottom: 15px;
}

.subscriptionCard-selected-base {
  display: flex;
  padding: 0;
  list-style: none;
}

.subscriptionCard-selected-base > li {
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-weight: 700;
}
