@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  --primary-color: #b19676;
  --primary-color-light: #eeeae7;
  --padding-cotainer: 30px 50px;
}

h2 {
  font-size: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
}
p {
  font-size: 18px;
}
section {
  padding: 15px 50px 30px;
}
li {
  list-style-type: none;
}

@media (max-width: 768px) {
  h2 {
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 16px;
  }
  section {
    padding: 10px 30px 20px;
  }
}
